body {
    transform: rotate(180deg) scaleX(-1);
    text-align: center;
    font-size: 2em;
    transition: font-size 0.3s ease;
    margin: auto;
}
@media (orientation: landscape) {
    body {
        font-size: 4em;
    }
}
#orientation-warning {
    color: red;
    font-size: 2em;
}